---
import { MapView } from '../components/MapView.tsx'
import { maps } from '../server'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
		  rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css"
		>
		<title>Map Describer</title>
	</head>
	<body>
		<main>
			{maps.map((map, idx) => {
				const prevMapName = maps[idx-1]?.name;
				const nextMapName = maps[idx+1]?.name;

				return <section class="page" id={map.name}>
					<MapView map={map} client:load />

					<div class="bottomnav">
						{prevMapName && <a href={"#" + prevMapName}>prev</a>}
						{nextMapName && <a href={"#" + nextMapName}>next</a>}
					</div>
				</section>
			})}
		</main>
		<style is:global>
			main {
				width: 100%;
				padding: 0 !important;
			}

			img {
				width: 100%;
			}

			.marker {
				border-radius: 60px;
				aspect-ratio: 1;
				width: 30px;
				padding: 0;
				margin: 0;
			}

			.page {
				height: 100dvh;
				display: flex;
				align-items: center;
				position: relative;
			}

			.mapview {
				width: 100%;
			}

			.bottomnav {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			dialog article {
				max-width: 100%;
			}

			body {overflow: hidden;}
		</style>
	</body>
</html>
