---
import { BranchPreview } from '../components/BranchPreview.tsx'
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link
		  rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.amber.min.css"
		>
		<title>PREVIEW курсовая (?) по истории</title>
	</head>
	<body>
		<main>
			<BranchPreview client:only />
		</main>
		<style is:global>
			main {
				width: 100%;
				padding: 0 !important;
			}

			img {
				max-height: 100dvh;
			}

			.marker {
				border-radius: 60px;
				aspect-ratio: 1;
				width: 50px;
				padding: 0;
				margin: 0;
				transform: translate(-25px, -25px);
			}

			.mapview {
				height: 100%;
				width: fit-content;
				margin: 0 auto;
			}

			.bottomnav {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			dialog article {
				max-width: 100%;
			}

			body {overflow: hidden;}
		</style>
	</body>
</html>
